{# layout principal #}

<!DOCTYPE html>

<html>
	<head>
		<meta charset="UTF-8">
		<title>Silex Init</title>
		
		<link rel="stylesheet" href="/css/styles.css">
	</head>
	
	<body>
		<div id="content">

			<a href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge({'_locale': 'fr'})) }}">Français</a>
			<a href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge({'_locale': 'en'})) }}">English</a>
			
			{% block pageContent %}
				
			{% endblock %}

		</div>
			
			<script src="/js/scripts.js"></script>
			
	</body>
</html>

<!doctype html>
