{# layout principal #}

<!DOCTYPE html>

<html>
	<head>
		<meta charset="UTF-8">
		<title>Silex Init</title>
		
		<link rel="stylesheet" href="css/styles.css">
	</head>
	
	<body>
		<div id="content">

			{% block content %}
				
			{% endblock %}

		</div>
			
			<script src="js/scripts.js"></script>
			
	</body>
</html>

<!doctype html>
