{# layout principal #}

<!DOCTYPE html>

<html>
	<head>
		<meta charset="UTF-8">
		<title>Silex Init</title>
		
		<link rel="stylesheet" href="css/styles.css">
	</head>
	
	<body>
		<div id="content">

			<a href="{{ path('execute.language', {language: 'fr'}) }}">Français</a>
			<a href="{{ path('execute.language', {language: 'en'}) }}">English</a>

			{% block pageContent %}
				
			{% endblock %}

		</div>
			
			<script src="js/scripts.js"></script>
			
	</body>
</html>

<!doctype html>
